# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# NextAuth (Phase 3)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# SMTP Hostinger (Phase 2+)
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT="465"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="Institut Al-Irtiqā' <al-irtiqa@institut-alirtiqa.com>"
ADMIN_NOTIFICATION_EMAIL="al-irtiqa@outlook.com"
